.Nav {
  width: 100%;
  position: fixed;
  top: 2.8rem;
  z-index: 1;
}

.nav {
  height: 3rem;
  width: 100%;
  align-content: center;
  /* position: fixed;
  top: 2.8rem; */
  z-index: 1000;
  box-shadow: 1px 2px 4px -1px lightgrey;
  background: white;
}

.navSorting {
  display: flex;
  justify-content: center;
  width: 50%;
  height: 3rem;
}

.navFilter {
  height: 3rem;
  width: 50%;
  justify-content: center;
  /* padding-left: 3rem; */
}

.filterIcon {
  padding: 0 5px;
  height: 15px;
  width: 15px;
  fill: black;
}

.sortIcon {
  padding: 0 5px;
  height: 1.2rem;
  width: 1.2rem;
  fill: black;
}

.navName {
}

.navValue {
  font-size: 0.6rem;
  color: gray;
}

.ProductsCounter {
  margin-left: 1rem;
  font-size: 0.8rem;
  color: gray;
  text-align: right;
  width: 33%;
}

.progress {
  width: 100%;
  /* top: 3rem; */
  /* left: 0; */
  /* position: fixed; */
  /* right: 0; */
  opacity: 0.7;
}

.progress * {
  border-color: orange !important;
}

.finished * {
  border-color: green !important;
}

.sorting {
  z-index: 10000000;
}
