.cartItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 0;
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
  height: 120px;
  margin-top: 8px;
  width: 40%;
}

.image {
  width: 80%;
  height: 80%;
  object-fit: contain;
}

.info {
  width: 60%;
  margin-right: 10px;
}

.name {
  color: black;
}

.infoColor {
  color: black;
}

.amount {
  margin-top: 5px;
  width: 100px;
}

.bottom {
  width: 100%;
  height: 30px;
}

.price {
  color: green;
}

.remove {
}

