.footerContainer {
  flex-direction: row;
  flex-direction: center;
  align-items: center;
}

.containerTotalPrice {
  flex-direction: center;
  background-color: white;
  width: 50%;
  height: 40;
  border-top-color: lightgray;
  border-top-width: 1;
}

.buyCart {
  flex-direction: center;
  background-color: orange;
  width: 50%;
  height: 40;
}

.price {
  text-align: center;
  font-size: 16;
  font-weight: bold;
}

.buy {
  text-align: center;
  font-size: 18;
  font-weight: bold;
  color: white;
}
